<h1>These are your tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %> -
      <%= task.content %> -
      <%= link_to 'edit', edit_task_path(task) %> -
      <%= link_to 'delete', '#' %>
    </li>
  <% end %>
</ul>
<button><%= link_to 'Add a new task', new_task_path %></button>
